body {
  background-color: #000814;
  text-align: center;
}

h1 {
  color: white;
  font-size: 4em;
  line-height: 1;
}

h2 {
  color: white;
  font-size: 2em;
  line-height: 1;
}

h3 {
  color: white;
  font-size: 2em;
  line-height: 1;
}

.container-fluid {
  padding: 3% 15%;
}

.download-button {
  margin: 10% 3% 5% 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5em;
  font-weight: bold;
}

.box {
  border-radius: 50px;
  height: 400px;
  width: 400px;
}

@media (max-width:1028px) {
  .box {
    margin: 50px;
    transform: rotate(45deg);
  }

  #title {
    text-align: center;
  }
}

#title {
  text-align: left;
}

.soap {
  padding: 0% 20% 0% 20%;
}

.headline {
  font-size: 30px;
  color: #5C33F6;
}

.row {
  position: relative;
}

.navbar-brand {
  font-family: "Ubuntu";
}

#Feature {
  padding: 7% 0% 0% 0%;
  margin-top: 20px;
  padding-left: 0px;
}

.Feature-box {
  font-size: 15px;
}

.icon {
  color: white;
  padding-bottom: 10px;
}

.icon:hover {
  color: #5C33F6;
}

#testimonials {
  padding: 0% 15% 5% 15%;
}

.font {
  color: #F9F9F9;
}

.Press {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

.carousel-indicators {
  top: 350px;
}

.testimonial-image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.soap-size {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

#pricing {
  padding: 100px;
}

.button {
  margin: 30px 0px 0px 10px;
}

#footer {
  background-color: white;
}

#footer {
  background-color: white;
  height: 80px;
  margin: 50px 3% 0% 3%;
  border-radius: 10px;
  font-size: 20px;
}
